* {
    margin: 0;
    padding: 0;
}

body{
    font-family: 'Times New Roman', Times, serif
}

hr {
    clear: both;
    border: 0;
    height: 1px;
    background-image: linear-gradient(to right,rgba(0,0,0,0),rgba(0,0,0,.75),rgba(0,0,0,0));
}

.download-cv{
    position: fixed;
    bottom: 1rem;
    right: 1rem;
    z-index: 999999;
    box-shadow: 0 1px 20px 1px #ff3e1d;
}